.videos {
  display: flex;
  gap: 300px;
  align-items: center;
  justify-content: center;
}
.tutoriales,
.resumenes {
  background-color: rgba(255, 255, 255, 0);
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.tutoriales div,
.resumenes div {
  background-color: rgba(255, 255, 255, 0.532);
  height: 315px;
  width: 560px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.ti {
  height: 50px;
  width: 100%;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.663);
  color: rgb(0, 0, 0);
  justify-content: center;
  gap: 790px;
  display: flex;
  line-height: 45px;
  border: solid 1px black;
  margin-top: 50px;
  margin-bottom: 50px;
}
.ti p {
  display: inline;
}

.barra {
  height: 1880px;
  width: 20px;
  background-color: rgba(27, 27, 27, 0.784);
  position: absolute;
  left: 937px;
  top: 400px;
  border-radius: 20px;
  border: solid px green;
}

/*carrusel*/

.body-gallery {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
margin-top: 50px;
background-color: rgba(78, 78, 78, 0.812);
  height: 600px;
  border: solid 1px rgb(255, 255, 255);
  
}

.gallery {
  width: 100%;
  background-color: rgba(0, 0, 255, 0);
  height: 500px;
}

.gallery-container{
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  
}

.gallery-item {
  height: 250px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 300px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}
.gallery-item-1 {
  left: -25%;
  opacity: 0.8;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.823);
  padding: 20px;
  height: 250px;
  width: 250px;
}

.gallery-item-2,
.gallery-item-4 {
  height: 300px;
  opacity: 0.9;
  width: 300px;
  padding: 20px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.805);
  
}

.gallery-item-2 {
  left: 10%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 350px;
  opacity: 1;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  width: 350px;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  
  
}

.gallery-item-3:hover{

  background-color: #ffffff;
  border: solid 4px rgb(44, 150, 63);
  
  border-radius: 20px;
  
  -webkit-box-shadow: 3px -1px 34px 21px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 3px -1px 34px 21px rgba(0, 0, 0, 0.74);
  box-shadow: 3px -1px 34px 21px rgba(0, 0, 0, 0.74);
  
}




.gallery-item-4 {
  left: 90%;
  transform: translateX(-50%);
  
  
}

.gallery-item-5 {
  left: 125%;
  opacity: 0.8;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.823);
  padding: 20px;
  height: 250px;
  width: 250px;
  
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 100px;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls-button:focus {
  outline: none;
}

.gallery-controls-Atras {
  position: relative;
  color: white;
  font-family: algerian;
}

.gallery-controls-Atras::before {
  border: solid rgb(255, 255, 255);
  
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 25%;
  transform: rotate(135deg) translatey(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-Atras:hover::before {
  left: -40px;
}

.gallery-controls-Siguiente {
  position: relative;
  color: white;
  font-family: algerian;
}

.gallery-controls-Siguiente::before {
  border: solid rgb(255, 255, 255);
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 45%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-Siguiente:hover:before {
  right: -40px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  
  position: absolute;
  width: 100%;
}

.gallery nav li {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background-color: rgba(79, 80, 79, 0);
}
